@import url(https://fonts.googleapis.com/css?family=Chewy);

$primary: #f67280;
$secondary: #c06c84;
$hovered: #bf81ff;
$links: #ffd581;

@import "shadow";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, .main-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#headerb {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
    user-select: none;

    &:hover {
        cursor: pointer;
        opacity: 0.75;
    }
}

.main-wrap {
    background-color: $secondary;

    & .header {
        background-color: $primary;
        padding: 0.85rem 0.75rem 0.5rem 0.75rem;
        font-family: Chewy, sans-serif;
        color: #fff;
        display: flex;
        justify-content: space-between;
        @include box_shadow(2);
        span {
            font-size: 2.5em;
            text-shadow: 2px 2px 0 darken($primary, 15);
        }
    }

    & .card {
        position: relative;
        width: 90%;
        height: 75%;
        background-color: transparent;
        margin: 2rem auto 0;
        perspective: 2000px;

        &.active .card-inner {
            transform: rotateY(180deg);
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            font-family: Chewy, sans-serif;
            font-size: 2.5em;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            .front, .back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                padding: 2rem 1rem;
                border-radius: 0.25rem;
                @include box_shadow(3);
            }

            .front {
                background-color: #fff;
                color: #6c5b7b;
            }

            .back {
                background-color: #6c5b7b;
                color: #fff;
                transform: rotateY(180deg);
            }
        }
    }
    & .action-button {
        position: fixed;
        bottom: 10%;
        right: 10%;
        z-index: 2;
        border-radius: 50%;
        background-color: $primary;
        height: 4em;
        width: 4em;
        @include box_shadow(2);
        & span.im {
            color: #fff;
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            &.active {
                animation: rotationer-transform 0.75s 1 ease;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-wrap {
        .header span {
            font-size: 1.5em;
        }

        .card {
            height: 85%;
            margin: 1rem auto 0;

            div {
                font-size: 1em;

                &.em115 {
                    font-size: 0.6em;
                }
            }

            .card-inner {
                .front, .back {
                    padding: 1rem 0.75rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 601px) {
    .main-wrap .card {
        width: 75%;
        perspective: 3000px;
    }
}

@media only screen and (max-height: 350px) {
    html, body, .main-wrap {
        height: 110%;
    }
}

// Animations
@keyframes rotationer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotationer-transform {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

